article > div {
    display: flex;
}

/* No Wrap */
#nowrap {
    flex-wrap: nowrap;
}

/* Wrap */
#wrap {
    flex-wrap: wrap;
}

/* Column */
#column {
    flex-direction: column;
}

/* Flex flow */
#flow {
    flex-flow: row nowrap;
}

/* justify-content */

/* Start */
#justify_start {
    justify-content: start;
}

/* Center */
#justify_center {
    justify-content: center;
}

/* End */
#justify_end {
    justify-content: flex-end;
}

/* space around */
#justify_space_around {
    justify-content: space-around;
}

/* space between */
#justify_space_between {
    justify-content: space-between;
}

/* Baseline */
#justify_baseline {
    width: 400px;
    height: 400px;
    align-items: baseline;
}

/* align-items */
/* start */
#align_start {
    height: 400px;
    text-align: center;
    align-items: flex-start;
}

/* center */
#align_center {
    height: 400px;
    align-items: center;
}

/* end */
#align_end {
    height: 400px;
    align-items: flex-end;
}

/* rana */
#rana {
    height: 500px;
    flex-flow: wrap-reverse column-reverse;
    justify-content: center;
    align-content: space-between;
}

#rana {
    height: 60vh;
    color: white;
}

#rana > .amarillo {
    color: black;
    background-color: yellow;
}

#rana > .verde {
    background-color: green;
}

#rana > .rojo {
    background-color: red;
}

.content_dialog {
    display: flex;
    position: fixed;
    top: 0px;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, .8);
}

.dialog {
    display: inherit;
    justify-content: center;
    align-items: center;
    margin: auto;
    background-color: #f1f1f1;
    width: 300px;
    min-width: 300px;
    height: 600px;
    text-align: center;
    font-size: 30px;
    border-radius: 15px;
}
